include ../layout
  block content
  include layout
    block content2
      for book in booksAuthors
        section.bookSection
          section.bookCover
            a(href="/books/#{book.book.id}")
              img(src="#{book.book.cover_url}")
          section.bookText
            h1 #{book.book.title}
            span By 
            for author, index in book.authors
              if index > 0
                span  & 
              a(href="/authors/#{author.id}")
                span #{author.first_name} #{author.last_name}
            h5 #{book.book.genre}
            p #{book.book.description}
            
              
            
