script.
  var removeBook = function(bookDiv, bookId) {
    $(bookDiv).remove();
  }
  
script.
  var compareBook = function(newBookId) {
    var descendents = bookList.getElementsByTagName('*');
    var foundId=false;
    var descendentIndex=0;
    while((descendentIndex<=descendents.length-1) && (!foundId)) {
      if ((descendents[descendentIndex].name === "bookSelectIds") && (descendents[descendentIndex].value === newBookId)) {
        foundId = true;
      }
      descendentIndex++;
    }
    return(foundId);
  }

script.
  var addBook = function() {
    
    var bookList = document.getElementById('bookList');
    
    var selectList = document.getElementById('bookSelect');
    var index = selectList.selectedIndex;
    var value = selectList[index].value;

    if (!compareBook(value)) {
      var bookDiv = document.createElement('div');
      var bookId = "book" + value;
      bookDiv.setAttribute("id", bookId);
      bookDiv.setAttribute("value", value);
      
      $('#bookList').append(bookDiv);
      
      var bookName = selectList[index].text;
      var bookText = document.createElement('input');
      bookText.setAttribute("name", "bookSelectNames");
      bookText.setAttribute("value", bookName);
      $(bookDiv).append(bookText);
      
      var bookId = document.createElement('input');
      bookId.setAttribute("name", "bookSelectIds" );
      bookId.setAttribute("type", "hidden" );
      bookId.setAttribute("value", value);
      $(bookDiv).append(bookId);
      
      var removeId = document.createElement('button');
      //- var id = "btnRemove" + value;
      removeId.setAttribute("id", "btnRemove" + value);
      removeId.setAttribute("class", "btnRemove");
      removeId.setAttribute("type", "button");
      removeId.setAttribute("value", value);
      removeId.addEventListener('click', function(){removeBook(bookDiv, value)});
      removeId.innerHTML = "Remove";
      $(bookDiv).append(removeId);
    }
  }
  
  
script.
  var fillBooks = function(authorBooks) {
    authorBooks.forEach(function(authorBook, authorBookIndex) {
      var value = authorBook.id;
      var bookDiv = document.createElement('div');
      var bookId = "book" + value;
      bookDiv.setAttribute("id", bookId);
      bookDiv.setAttribute("value", value);
      $('#bookList').append(bookDiv);
      
      var bookName = authorBook.title;
      var bookText = document.createElement('input');
      bookText.setAttribute("name", "bookSelectNames" );
      bookText.setAttribute("value", bookName);
      bookText.setAttribute("data-bookId", authorBook.id);
      $(bookDiv).append(bookText);
      var bookId = document.createElement('input');
      bookId.setAttribute("name", "bookSelectIds" );
      bookId.setAttribute("type", "hidden" );
      bookId.setAttribute("value", authorBook.id);
      $(bookDiv).append(bookId);
      
      var removeId = document.createElement('button');
      //- var id = "btnRemove" + value;
      removeId.setAttribute("id", "btnRemove" + value);
      removeId.setAttribute("class", "btnRemove");
      removeId.setAttribute("type", "button");
      removeId.setAttribute("value", value);
      removeId.addEventListener('click', function(){removeBook(bookDiv, value)});
      removeId.innerHTML = "Remove";
      $(bookDiv).append(removeId);
    })
  }
  
section
  if (errors.length > 0)
    for error in errors
      li.errorMsg error
fieldset
  label(for="first_name") First Name
  br
  input(type = "text", id="first_name", name="first_name", value = "#{author.first_name}")
  br
  br
  label(for="last_name") Last Name
  br
  input(type = "text", id="last_name", name="last_name", value = "#{author.last_name}")
  br
  br
  label(for="portrait_url") Portrait URL
  br
  input(type = "text", id="portrait_url", name="portrait_url", value  = "#{author.portrait_url}")
  br
  br
  label(for="biography") Biography
  br
  input.textDescription(type = "text", id="biography", name="biography", value  = "#{author.biography}")
  br
  br
  label(for="bookList") Books
  br
  div.textBooks(id="bookList", name="bookList")
  input(type='hidden', name="bookSelectIds", value = "0")
  input(type='hidden', name="bookSelectIds", value = "0")
  br    
  select#bookSelect(name="books" )
    for book in books
      option(value="#{book.id}") #{book.title}

  button.btnBook(type="button", onclick='addBook()') Add Book
  br
  br
  input(type = "submit", value = "Submit")
  script.
    $(document).ready (fillBooks(!{JSON.stringify(authorBooks)}));
